<div class="row-fluid player-list" ng-init="getUsers()">
    <div class="row header">
      ВЫБОР ИГРОКА
        <img class="close" src="../../media/close.png" ng-click="closeThisDialog()">
    </div>
    <div class="row content">
        <div class="position" ng-repeat="user in users | orderBy:'experience'" ng-click="openDetails()">
            <div class="col-sm-12 player">
                <div class="circle shadow">
                    <img class="profile-img" ng-src="{{'../../media/'+user.photo}}" alt="">
                </div>
                <p>
                    {{user.username}}
                </p>
            </div>
        </div>
    </div>
</div>
