<div class="row profile">
    <div class="row header">
        НОВАЯ
        <img src="media/ball_icon.png">
        ИГРА
    </div>
    <div class="row content">
        <div class="description row">
            <div class="col-sm-6 two" ng-click="">
                <div class="col-sm-5">
                    <img class="player-img" src="../../media/team-blue.png" alt="">
                </div>
                <div class="col-sm-5">
                   <div>VS</div>
                </div>
                <div class="col-sm-5">
                    <img class="player-img"  src="../../media/team_white.png" alt="">
                </div>
            </div>
            <div class="col-sm-6 four" ng-click="">
                <div class="col-sm-5">
                    <img class="player-img" src="../../media/team-blue.png" alt="">
                    <img class="player-img" src="../../media/team-blue.png" alt="">
                </div>
                <div class="col-sm-5">
                    <div>VS</div>
                </div>
                <div class="col-sm-5">
                    <img class="player-img" src="../../media/team_white.png" alt="">
                    <img class="player-img" src="../../media/team_white.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="row footer">
        <button class="btn btn-lg btn-block new-game-button" type="submit" ng-disabled="form.$invalid"
                ng-click="openNewGame()">ИГРАТЬ
        </button>
    </div>
</div>