<div class="row new-game">
    <div class="row header">
        НОВАЯ
        <img src="media/ball_icon.png">
        ИГРА
        <img class="close" src="../../media/close.png" ng-click="closeThisDialog()">
    </div>
    <div class="row content">
            <div class="col-sm-6 two" ng-click="confirm()">
                <div class="col-sm-5">
                    <img class="player-img" src="../../media/team-blue.png" alt="">
                </div>
                <div class="col-sm-2 vs">
                   <div>VS</div>
                </div>
                <div class="col-sm-5">
                    <img class="player-img"  src="../../media/team_white.png" alt="">
                </div>
            </div>
            <div class="col-sm-6 four" ng-click="confirm()">
                <div class="col-sm-5">
                    <img class="player-img" src="../../media/team-blue.png" alt="">
                    <img class="player-img" src="../../media/team-blue.png" alt="">
                </div>
                <div class="col-sm-2 vs">
                    <div>VS</div>
                </div>
                <div class="col-sm-5">
                    <img class="player-img" src="../../media/team_white.png" alt="">
                    <img class="player-img" src="../../media/team_white.png" alt="">
                </div>
            </div>
    </div>
</div>