<div class="row profile">
    <div class="row header">
    </div>
    <div class="row content">
        <div class="description row">
          <div class="col-sm-4">
              <div class="circle shadow">
                  <img class="profile-img" src="../../media/photo.png" alt="">
              </div>
          </div>
          <div class="col-sm-8">
              <p class="name">Александр Сивов</p>
              <p class="text" style="padding-top: 45px">Выиграно игр: <b>60</b> из <b>120</b> </p>
              <p class="text">% побед: <b>50</b></p>
              <p class="text">Место в рейтинге:<b>3</b></p>
          </div>
        </div>
        <div class="achievements row">
        </div>
    </div>
</div>
