<div class="row profile">
    <div class="row header">
        ПРОФИЛЬ
        <img src="../../media/profile.png">
        ДОСТИЖЕНИЯ
        <img class="close" src="../../media/close.png" ng-click="closeThisDialog()">
    </div>
    <div class="row content">
        <div class="description row">
          <div class="col-sm-4">
              <div class="circle shadow">
                  <img style="margin-top: 15px" class="profile-img" ng-src="{{'../../media/'+ (currentUser.photo ? currentUser.photo : 'photo.png' )}}" alt="">
              </div>
          </div>
          <div class="col-sm-8">
              <p class="name">{{currentUser.username}}</p>
              <p class="text" style="padding-top: 45px">Выиграно игр: <b>{{currentUser.win}}</b> из <b>{{currentUser.count_games}}</b> </p>
              <p class="text">% побед: <b>{{ currentUser.count_games ? currentUser.win / currentUser.count_games * 100 : '0' }}</b></p>
              <p class="text">Место в рейтинге:<b>{{currentUser.position}}</b></p>
          </div>
        </div>
        <div class="achievements row">
            <div class="achievement">
                <img src="../../media/cup_details.png">
                <p class="name">Чемпион</p>
                <p class="desc">50 побед</p>
            </div>
            <div class="achievement">
                <img src="../../media/cup_details.png">
                <p class="name">Чемпион</p>
                <p class="desc">50 побед</p>
            </div>
        </div>
    </div>
</div>
