<div class="row winner">
    <div class="row header">
        ПОБЕДИТЕЛЬ
        <img class="close" src="../../media/close.png" ng-click="closeThisDialog()">
    </div>
    <div class="row content">
        <div class="col-sm-12 center">
            <div class="row side">
            </div>
            <div class="row players">
                <div class="col-sm-6">
                    <div class="circle shadow">
                        <img class="profile-img" src="../../media/photo.png" alt="">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="circle shadow">
                        <img class="profile-img" src="../../media/photo.png" alt="">
                    </div>
                </div>
            </div>
            <div class="row result">
                WINNERS!
            </div>
        </div>
    </div>
</div>