<div class="row winner">
    <div class="row header">
        ИТОГ
        <img src="../../media/star.png">
        ИГРЫ
        <img class="close" src="../../media/close.png" ng-click="closeThisDialog()">
    </div>
    <div class="row content">
        <div class="col-sm-12 center">
            <div class="row result">
                ПОБЕДА!
            </div>
            <div class="row result">
                <div class="col-sm-3 white-side-small">
                </div>
                <div class="col-sm-3 score">
                    <p>{{end_game.team_white.score}}</p>
                </div>
                <div class="col-sm-3 blue-side-small">
                </div>
                <div class="col-sm-3 score">
                    <p>{{end_game.team_blue.score}}</p>
                </div>
            </div>
            <div class="row"
                 ng-class="{'blue-side':end_game.winner_team === 'BLUE', 'white-side':end_game.winner_team === 'WHITE' }">
            </div>
            <div class="row players">
                <div class="col-sm-6">
                    <div class="circle shadow">
                        <img class="profile-img"
                             ng-src="{{'../../media/'+ (end_game.winner_players[0].photo ? end_game.winner_players[0].photo : 'photo.png' )}}"
                             alt="">
                    </div>
                    <p>{{end_game.winner_players[0].username}}</p>
                </div>
                <div class="col-sm-6">
                    <div class="circle shadow">
                        <img class="profile-img"
                             ng-src="{{'../../media/'+ (end_game.winner_players[1].photo ? end_game.winner_players[1].photo : 'photo.png' )}}"
                             alt="">
                    </div>
                    <p>{{end_game.winner_players[1].username}}</p>
                </div>
            </div>
            <hr class="separator">
            <div class="row">
                <div class="col-sm-12">
                    <div class="row players">
                        <div class="col-sm-4"><p>ИГРОК</p></div>
                        <div class="col-sm-4"><p>УРОВЕНЬ</p></div>
                        <div class="col-sm-4"><p>ОЧКИ</p></div>
                    </div>
                </div>
                <div class="col-sm-12" ng-repeat="player in game.team_white.players">
                    <div class="row players">
                        <div class="col-sm-4"><p>{{player.username}}</p></div>
                        <div class="col-sm-4"><p>{{player.level}}</p></div>
                        <div class="col-sm-4"><p>{{player.experience}}</p></div>
                    </div>
                </div>
                <div class="col-sm-12" ng-repeat="player in game.team_blue.players">
                    <div class="row players">
                        <div class="col-sm-4"><p>{{player.username}}</p></div>
                        <div class="col-sm-4"><p>{{player.level}}</p></div>
                        <div class="col-sm-4"><p>{{player.experience}}</p></div>
                    </div>
                </div>
                <div class="achievements row">
                    <div class="achievement" ng-repeat="achievement in end_game.achievements | orderBy:'time'">
                        <img ng-src="{{'../../media/'+achievement.image}}">
                        <p class="name">{{achievement.user}}</p>
                        <p class="name">{{achievement.name}}</p>
                        <p class="desc">{{achievement.description}}</p>
                    </div>
                </div>
            </div>
    </div>
        </div>
    </div>
</div>