<div class="row winner">
    <div class="row header">
        ИТОГ
        <img src="../../media/star.png">
        ИГРЫ
        <img class="close" src="../../media/close.png" ng-click="closeThisDialog()">
    </div>
    <div class="row content">
        <div class="col-sm-12 center">
            <div class="row result">
                ПОБЕДА!
            </div>
            <div class="row blue-side">
            </div>
            <div class="row players">
                <div class="col-sm-6">
                    <div class="circle shadow">
                        <img class="profile-img" src="../../media/photo.png" alt="">
                    </div>
                    <p>Player 2</p>
                </div>
                <div class="col-sm-6">
                    <div class="circle shadow">
                        <img class="profile-img" src="../../media/photo.png" alt="">
                    </div>
                    <p>Player 1</p>
                </div>
            </div>
        </div>
    </div>
</div>