<div class="row-fluid game-dashboard" ng-init="getGame()">
  <div class="container">
      <div class="head">
          НОВАЯ
          <img src="media/ball.png">
          ИГРА
      </div>
      <div class="content">
          <div class="col-sm-5 left-side">
              <div class="row side">
              </div>
              <div class="row players">
                  <div class="col-sm-6">
                      <div class="circle shadow">
                          <img class="profile-img" src="../../media/photo.png" ng-click="openListPlayers('blue')" alt="">
                      </div>
                  </div>
                  <div class="col-sm-6">
                      <div class="circle shadow">
                          <img class="profile-img" src="../../media/photo.png" ng-click="openListPlayers('blue')" alt="">
                      </div>
                  </div>
              </div>
              <div ng-if="game.game_status == 'IN_PROGRESS'" class="row result">
                  {{game.team_blue.score}}
              </div>
          </div>
          <div class="col-sm-2 center">
              <div class="row time">
                  <img src="../../media/watch.png">
              </div>
              <div class="row vs">
                  VS
              </div>
              <div ng-if="game.game_status == 'IN_PROGRESS'" class="row colon">
                  :
              </div>
              <div ng-if="game.game_status != 'IN_PROGRESS'" class="row colon">
                  <button class="btn btn-lg btn-block start-button" ng-click="startOrCancel()">{{getButtonText()}}</button>
              </div>
          </div>
          <div class="col-sm-5 right-side">
              <div class="row side">
              </div>
              <div class="row players">
                  <div class="col-sm-6">
                      <div class="circle shadow">
                          <img class="profile-img" src="../../media/photo.png" ng-click="openListPlayers('white')" alt="">
                      </div>
                  </div>
                  <div class="col-sm-6">
                      <div class="circle shadow">
                          <img class="profile-img" src="../../media/photo.png" ng-click="openListPlayers('white')" alt="">
                      </div>
                  </div>
              </div>
              <div ng-if="game.game_status == 'IN_PROGRESS'" class="row result">
                  {{game.team_white.score}}
              </div>
          </div>
      </div>
  </div>
</div>
