<div class="row-fluid game-dashboard" ng-init="findOne()">
  <div class="container">
      <div class="head">
          НОВАЯ
          <img src="media/ball.png">
          ИГРА
      </div>
      <div class="content">
          <div class="col-sm-5 left-side">
              <div class="row side">
              </div>
              <div class="row players">
                  <div class="col-sm-6">
                      <div class="circle shadow">
                          <img class="profile-img" src="../../media/photo.png" alt="">
                      </div>
                  </div>
                  <div class="col-sm-6">
                      <div class="circle shadow">
                          <img class="profile-img" src="../../media/photo.png" alt="">
                      </div>
                  </div>
              </div>
              <div class="row result">
                  0
              </div>
          </div>
          <div class="col-sm-2 center">
              <div class="row time">
                  <img src="../../media/watch.png">
              </div>
              <div class="row vs">
                  VS
              </div>
              <div class="row colon">
                  :
              </div>
          </div>
          <div class="col-sm-5 right-side">
              <div class="row side">
              </div>
              <div class="row players">
                  <div class="col-sm-6">
                      <div class="circle shadow">
                          <img class="profile-img" src="../../media/photo.png" alt="">
                      </div>
                  </div>
                  <div class="col-sm-6">
                      <div class="circle shadow">
                          <img class="profile-img" src="../../media/photo.png" alt="">
                      </div>
                  </div>
              </div>
              <div class="row result">
                  0
              </div>
          </div>
      </div>
  </div>
</div>
