<div class="row-fluid dashboard" ng-init="getUsers()">
  <div class="container">
      <div class="head-table">
          ЛИДЕРЫ
          <img src="media/cup.png">
          РЕЙТИНГ
      </div>
      <div class="table-th">
          <div class="col-sm-1">МЕСТО</div>
          <div class="col-sm-4">ИГРОК</div>
          <div class="col-sm-1">ИГРЫ</div>
          <div class="col-sm-2">ПОБЕДЫ</div>
          <div class="col-sm-2">ПОРАЖЕНИЯ</div>
          <div class="col-sm-2">ОЧКИ</div>
      </div>
      <div class="table-content">
          <div class="position" ng-repeat="user in users | orderBy:'experience'" ng-click="openDetails(user, $index + 1)">
              <div class="col-sm-1">{{$index + 1}}</div>
              <div class="col-sm-4 player">
                  <div class="circle shadow">
                      <img class="profile-img" ng-src="{{'../../media/'+ (user.photo ? user.photo : 'photo.png' )}}" alt="">
                  </div>
                  <p>
                  {{user.username}}
                  </p>
              </div>
              <div class="col-sm-1">{{user.count_games}}</div>
              <div class="col-sm-2">{{user.win}}</div>
              <div class="col-sm-2">{{user.lost}}</div>
              <div class="col-sm-2">{{user.experience}}</div>
          </div>
      </div>
      <div class="table-footer">
          <button class="btn btn-lg btn-block new-game-button" type="submit" ng-disabled="form.$invalid" ng-click="openNewGame()">НОВАЯ ИГРА</button>
      </div>
  </div>
</div>
